<!DOCTYPE html>
<html>
  <head>
    <title>Broadway</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="">

        <div class="">
          <%= link_to 'Gardenia', root_path, class: "" %>
        </div>

        <ul>
          <% if user_signed_in? %>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
            <li><%= link_to 'Log_in', new_user_session_path %></li>
          <% end %>
        </ul>

        <ul class="">
          <% if user_signed_in? %>
            <li><%= link_to 'Add Movie', new_movie_path %></li>
          <% end %>
        </ul>

      </div>
    </nav> 

    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
